<?xml version="1.0" encoding="utf-8"?>
<Media Key="99b33302-9fbe-4e5e-81d9-86ca71ea833a" Alias="2019 Chevrolet Camaro Zl1 1Le Mmp 1 1639091299" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ChevroletCamaroZl11LeMmp11639091299</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T17:54:40</CreateDate>
    <NodeName Default="2019 Chevrolet Camaro Zl1 1Le Mmp 1 1639091299" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aqzlhgn4/2019-chevrolet-camaro-zl1-1le-mmp-1-1639091299.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>