<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c0de0b8-f2e7-44e9-83de-2f69f429716c" Alias="2022 Ford Mustang Shelby Gt500 02 1636734552" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FordMustangShelbyGt500021636734552</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T17:54:45</CreateDate>
    <NodeName Default="2022 Ford Mustang Shelby Gt500 02 1636734552" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x1qa05hh/2022-ford-mustang-shelby-gt500-02-1636734552.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>