<?xml version="1.0" encoding="utf-8"?>
<Media Key="6745b27e-af78-4898-bf1b-ac0f7f25a296" Alias="2023 Chevrolet Corvette Front 15180 032 1838X654 GA7 Cropped" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ChevroletCorvetteFront151800321838X654GA7Cropped</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T17:06:47</CreateDate>
    <NodeName Default="2023 Chevrolet Corvette Front 15180 032 1838X654 GA7 Cropped" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pczekz1y/2023-chevrolet-corvette-front_15180_032_1838x654_ga7_cropped.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>