<?xml version="1.0" encoding="utf-8"?>
<Media Key="7badaa94-f1ae-4244-be61-8bb243f2da36" Alias="5.Jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-24T11:46:16</CreateDate>
    <NodeName Default="5.Jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rsvk043o/5jpg.crdownload]]></Value>
    </umbracoFile>
  </Properties>
</Media>