<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7e6d4d1-429d-4e03-8451-14bb66268143" Alias="Beach Quotes 1559667853" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BeachQuotes1559667853</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T16:49:31</CreateDate>
    <NodeName Default="Beach Quotes 1559667853" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/05konj23/beach-quotes-1559667853.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>