<?xml version="1.0" encoding="utf-8"?>
<Media Key="abc8556b-a66c-4bd9-b21b-ab78a8ab39cc" Alias="Chevelle Muscle Car" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChevelleMuscleCar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T11:51:15</CreateDate>
    <NodeName Default="Chevelle Muscle Car" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nvknrk1m/chevelle-muscle-car.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>