<?xml version="1.0" encoding="utf-8"?>
<Media Key="d540ff5d-6b5a-4b68-bcb6-30ae9ae6c99d" Alias="Egor Vikhrev K63ks3iwaj0 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EgorVikhrevK63ks3iwaj0Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:44</CreateDate>
    <NodeName Default="Egor Vikhrev K63ks3iwaj0 Unsplash" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lp5fbvk0/egor-vikhrev-k63ks3iwaj0-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>