<?xml version="1.0" encoding="utf-8"?>
<Media Key="22886168-b546-4fca-9a9f-5d8ee890cf97" Alias="Ford Mustang Mach 1 5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/FordMustangMach15</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-07T16:28:24</CreateDate>
    <NodeName Default="Ford Mustang Mach 1 5" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nzqjqisg/ford-mustang-mach-1-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>