<?xml version="1.0" encoding="utf-8"?>
<Media Key="62400f53-576a-4844-bd84-a1c57d65dc81" Alias="Haidong Liang 1Kemi3ad1gg Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HaidongLiang1Kemi3ad1ggUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:42</CreateDate>
    <NodeName Default="Haidong Liang 1Kemi3ad1gg Unsplash" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kuhfaytk/haidong-liang-1kemi3ad1gg-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>