<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf83dc82-f085-44ef-8d4d-afdb8276695a" Alias="Istrfry Marcus 9Mqhr1wsek0 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstrfryMarcus9Mqhr1wsek0Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:43</CreateDate>
    <NodeName Default="Istrfry Marcus 9Mqhr1wsek0 Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qtoiht2f/istrfry-marcus-9mqhr1wsek0-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>