<?xml version="1.0" encoding="utf-8"?>
<Media Key="187abf89-77a2-40ee-9ef1-7a9a8fed98c9" Alias="Martin Katler Wzkh12 2Ny Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MartinKatlerWzkh122NyUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:43</CreateDate>
    <NodeName Default="Martin Katler Wzkh12 2Ny Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r45hugfc/martin-katler-wzkh12-2ny-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>