<?xml version="1.0" encoding="utf-8"?>
<Media Key="267b6244-c45f-493d-bd01-aa54690a2d29" Alias="Meritt Thomas U 8 Reyvxhw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MerittThomasU8ReyvxhwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:43</CreateDate>
    <NodeName Default="Meritt Thomas U 8 Reyvxhw Unsplash" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ijrhwjs5/meritt-thomas-u_8-reyvxhw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>