<?xml version="1.0" encoding="utf-8"?>
<Media Key="c34f1b5c-a405-4aa4-8062-95cca08c9341" Alias="Volodymyr Hryshchenko V5vqwc9gyeu Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VolodymyrHryshchenkoV5vqwc9gyeuUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T10:24:51</CreateDate>
    <NodeName Default="Volodymyr Hryshchenko V5vqwc9gyeu Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/linf5qyf/volodymyr-hryshchenko-v5vqwc9gyeu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>