<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8daaba5-1b14-4b60-8a96-91be1a759155" Alias="Wp10088094" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wp10088094</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:44</CreateDate>
    <NodeName Default="Wp10088094" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uovnvkau/wp10088094.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>