<?xml version="1.0" encoding="utf-8"?>
<Media Key="5167d013-4cd3-4c4f-a5e4-bbf50d3be0db" Alias="Wp10088096" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wp10088096</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T12:02:44</CreateDate>
    <NodeName Default="Wp10088096" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cxigouot/wp10088096.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>