<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2da2f9bf-e655-46aa-8073-436e1d4d0c8a" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion Row</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1ad2f3a1-d35e-42b4-a8ca-8ea7ab06932c">descriptionProperty</Composition>
      <Composition Key="2e07047b-9b07-43b8-8e96-a86e691d03f5">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0581e246-ebab-476f-ba48-8ccc7abfa6ad</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>9ed11da4-28f2-4832-ba98-d74d73830b9b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>531cab9d-3d5c-4c4f-a3d2-717b44d9e986</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>