<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b988ccee-4ec2-4531-8f0a-69d9ec2c372e" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7dd61617-d9a6-4a39-9b2d-56b63453546f">contentProperties</Composition>
      <Composition Key="3874a165-5c41-4afc-8301-24681e628870">headerProperties</Composition>
      <Composition Key="b1ff2ed0-fe92-480f-a260-7738cafba6b6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="256abd78-46ec-404a-a0f6-6a777cd756e6">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>