<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3c02754-da21-4e3f-bd94-26dffef3fd7a" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone-ring color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for contact details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7dd61617-d9a6-4a39-9b2d-56b63453546f">contentProperties</Composition>
      <Composition Key="3874a165-5c41-4afc-8301-24681e628870">headerProperties</Composition>
      <Composition Key="b1ff2ed0-fe92-480f-a260-7738cafba6b6">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3aef00c6-f760-4336-93a4-82317473c371">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>