<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44d43c53-04ab-469b-b397-c1a76cb89f58" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3e1e38f2-68f9-4181-9bf6-16a15db905df">footerProperties</Composition>
      <Composition Key="3874a165-5c41-4afc-8301-24681e628870">headerProperties</Composition>
      <Composition Key="42968427-c727-4518-a6b8-f22bd0600c3c">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="11cea704-dec0-486f-967a-966840fc03ad">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b988ccee-4ec2-4531-8f0a-69d9ec2c372e" SortOrder="0">contentPage</ContentType>
    <ContentType Key="37267b31-6110-40b9-9ef3-effe8c7dc740" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="f3c02754-da21-4e3f-bd94-26dffef3fd7a" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>