<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2803533f-1742-48ee-a921-3a61a35517bd" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-link color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1ad2f3a1-d35e-42b4-a8ca-8ea7ab06932c">descriptionProperty</Composition>
      <Composition Key="f6d0fbf8-37b5-4aa4-94ed-ad5aef2cf559">imageProperty</Composition>
      <Composition Key="15dba2f0-11dc-4a98-bef9-c12bb71885d4">linkProperty</Composition>
      <Composition Key="2e07047b-9b07-43b8-8e96-a86e691d03f5">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>