<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72abc60f-a3d1-455f-97f2-5e9c0517f54b" Alias="purplex" Level="1">
  <Info>
    <Name>Purplex</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Purplex</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a350a339-65d4-4576-a799-cf59496ac359">Purplex</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>092aa95f-294a-42a4-9ed8-2747fd1c2bea</Key>
      <Name>Property Setting</Name>
      <Alias>propertySetting</Alias>
      <Definition>2ce8858d-3d3c-4052-a2b7-02ee5888f1aa</Definition>
      <Type>Perplex.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>721f0d6d-62ee-4e3b-aa95-246731a594ff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>