<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02856b80-f4f3-4ccf-bd68-7ee2470a2f92" Alias="quoteRowSettings" Level="4">
  <Info>
    <Name>Quote Row Settings</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="a68220f1-f4bf-45c2-9ddf-7db0a30238eb">bockVisibilitySettings</Composition>
      <Composition Key="92bcafb7-8d96-4abf-beb3-c4141d315c57">textAlignSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>