<?xml version="1.0" encoding="utf-8"?>
<Content Key="332605b1-2279-4756-b4f8-341f85230740" Alias="About" Level="2">
  <Info>
    <Parent Key="ebbde481-070f-43e4-8d7f-58710b91bfea">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-10-10T10:26:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256abd78-46ec-404a-a0f6-6a777cd756e6">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "b894bb8b-083e-48b1-bcaa-96b684e07759",
    "mediaKey": "d540ff5d-6b5a-4b68-bcb6-30ae9ae6c99d"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cf2567ad1cb5487090b4884ef7355de4",
        "settingsUdi": "umb://element/969017e1bba94049b6eb7f3f7761989f"
      },
      {
        "contentUdi": "umb://element/b2e3a0a8a1674d63aae89789da2cc375",
        "settingsUdi": "umb://element/1ba7d9e3538a4899af8c19e334a523a1"
      },
      {
        "contentUdi": "umb://element/522d6a0df80e4e03b05a036a06ae7d52",
        "settingsUdi": "umb://element/3de9f77aeb9b49c1a7d62ad1b405cefd"
      },
      {
        "contentUdi": "umb://element/259eccdefe79409fbfe35ecf53462802",
        "settingsUdi": "umb://element/4901b4b6d94c47a4a86ee726c61d00d6"
      },
      {
        "contentUdi": "umb://element/d1cea3b1df0d45faa2aa020e643bcc8e",
        "settingsUdi": "umb://element/cf130849b63242a29e0bca9f02849d07"
      },
      {
        "contentUdi": "umb://element/20b3e40c544e4dbb9f92fb642b093040",
        "settingsUdi": "umb://element/2c25525a6cf94dc6a1a1b3dad6a2c373"
      },
      {
        "contentUdi": "umb://element/3e2a6d29fd9f4056b97dbc557d1fbe88",
        "settingsUdi": "umb://element/27a646bdca7c4e24aa36b1eed05107a5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "udi": "umb://element/522d6a0df80e4e03b05a036a06ae7d52",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>"
    },
    {
      "contentTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "udi": "umb://element/d1cea3b1df0d45faa2aa020e643bcc8e",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>"
    },
    {
      "contentTypeKey": "56419d8e-b0fc-4794-893d-0570786295a5",
      "udi": "umb://element/259eccdefe79409fbfe35ecf53462802",
      "image": [
        {
          "key": "db148098-3877-4c62-bff6-39c819d5f61a",
          "mediaKey": "a8daaba5-1b14-4b60-8a96-91be1a759155"
        }
      ],
      "caption": "This is a pic of a fast car",
      "link": [
        {
          "name": "Car",
          "target": "_blank",
          "url": "https://www.google.com/search?q=cars",
          "queryString": ""
        }
      ]
    },
    {
      "contentTypeKey": "1ab275a0-1084-490e-97da-352ca2947ebd",
      "udi": "umb://element/20b3e40c544e4dbb9f92fb642b093040",
      "title": "Featured Items",
      "description": "These are some items I thought you would be interested in",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4e71441a28584070912612a4c32b7b4f",
              "settingsUdi": "umb://element/671922a289e04be69a2734b76754af11"
            },
            {
              "contentUdi": "umb://element/078017d50a52477bb21568537f3e9302",
              "settingsUdi": "umb://element/bd80323b9afc461d9dd3b09d4e0cdbc8"
            },
            {
              "contentUdi": "umb://element/f13328ca3fb040c98a8a2fac3140eba9",
              "settingsUdi": "umb://element/c080a9ff2f6b4b648a968094d5734e04"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2803533f-1742-48ee-a921-3a61a35517bd",
            "udi": "umb://element/4e71441a28584070912612a4c32b7b4f",
            "image": [
              {
                "key": "2871b1b1-5e5b-4d36-8492-8849106db038",
                "mediaKey": "4c8b6c32-1207-4601-8a1a-ec7d155f3df3"
              }
            ],
            "link": [
              {
                "name": "Click for more sports cars",
                "url": "https://www.google.com/search",
                "queryString": "?q=sportscars"
              }
            ],
            "title": "First one",
            "description": "This is Ford Mustang"
          },
          {
            "contentTypeKey": "2803533f-1742-48ee-a921-3a61a35517bd",
            "udi": "umb://element/078017d50a52477bb21568537f3e9302",
            "image": [
              {
                "key": "4895bd37-a63b-4feb-9efb-5c9e838fb96f",
                "mediaKey": "abc8556b-a66c-4bd9-b21b-ab78a8ab39cc"
              }
            ],
            "link": [
              {
                "name": "Click for more sports cars",
                "url": "https://www.google.com/search",
                "queryString": "?q=sportscars"
              }
            ],
            "description": "This is Camaro",
            "title": "Second one"
          },
          {
            "contentTypeKey": "2803533f-1742-48ee-a921-3a61a35517bd",
            "udi": "umb://element/f13328ca3fb040c98a8a2fac3140eba9",
            "image": [
              {
                "key": "4345cccc-4b85-4758-9b42-4041fd4b4b18",
                "mediaKey": "5167d013-4cd3-4c4f-a5e4-bbf50d3be0db"
              }
            ],
            "link": [
              {
                "name": "Click for more sports cars",
                "url": "https://www.google.com/search",
                "queryString": "?q=sportscars"
              }
            ],
            "description": "This is Jeep",
            "title": "Third one"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bf5398b6-7d25-4ba9-add7-734203c2237e",
            "udi": "umb://element/671922a289e04be69a2734b76754af11"
          },
          {
            "contentTypeKey": "bf5398b6-7d25-4ba9-add7-734203c2237e",
            "udi": "umb://element/bd80323b9afc461d9dd3b09d4e0cdbc8"
          },
          {
            "contentTypeKey": "bf5398b6-7d25-4ba9-add7-734203c2237e",
            "udi": "umb://element/c080a9ff2f6b4b648a968094d5734e04"
          }
        ]
      }
    },
    {
      "contentTypeKey": "2da2f9bf-e655-46aa-8073-436e1d4d0c8a",
      "udi": "umb://element/3e2a6d29fd9f4056b97dbc557d1fbe88",
      "title": "FAQs",
      "description": "These are some FAQs",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/98572646cfbd43709126d8ae302cbb66",
              "settingsUdi": "umb://element/c8ae4c18c6bd4a17981cc09e6272e4cc"
            },
            {
              "contentUdi": "umb://element/a378e76493a14de78e7ffff64165545a",
              "settingsUdi": "umb://element/fde5325966ed48518c992f6b7f153c78"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ee8babec-85b8-4920-b41c-bbaf1930d7d3",
            "udi": "umb://element/98572646cfbd43709126d8ae302cbb66",
            "title": "What is this",
            "content": "<p>This is what</p>"
          },
          {
            "contentTypeKey": "ee8babec-85b8-4920-b41c-bbaf1930d7d3",
            "udi": "umb://element/a378e76493a14de78e7ffff64165545a",
            "title": "Was is das ",
            "content": "<p>Das ist <strong>bold</strong> text</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0c1d9f28-1ad5-4ee5-87d8-73a6b363c3f8",
            "udi": "umb://element/c8ae4c18c6bd4a17981cc09e6272e4cc"
          },
          {
            "contentTypeKey": "0c1d9f28-1ad5-4ee5-87d8-73a6b363c3f8",
            "udi": "umb://element/fde5325966ed48518c992f6b7f153c78"
          }
        ]
      }
    },
    {
      "contentTypeKey": "79fd2e11-159b-4ff0-be04-2b2e4f16a81d",
      "udi": "umb://element/b2e3a0a8a1674d63aae89789da2cc375",
      "quoteText": "<p>Just be fast</p>",
      "quoteAuthor": "Vin Diesel",
      "authorJobTitle": "Driver",
      "citeLink": null
    },
    {
      "contentTypeKey": "f07ccec3-c813-4085-beeb-170d6f45f2c4",
      "udi": "umb://element/cf2567ad1cb5487090b4884ef7355de4",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/77c9ca13fb794c8da3433a18188ea67e",
              "settingsUdi": "umb://element/6dac2061a4bf45d9aa23860bfe775d44"
            },
            {
              "contentUdi": "umb://element/99bc2f26f5854af080b20fd1b4b7bc2f",
              "settingsUdi": "umb://element/f032d050af154902982a79afe9795652"
            },
            {
              "contentUdi": "umb://element/7a17cf1f468445fd9bf7939b86bf29dc",
              "settingsUdi": "umb://element/98ea6932feaa4031bfcae180b36be950"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a74d716f-c8af-4e96-a093-3417e759a100",
            "udi": "umb://element/77c9ca13fb794c8da3433a18188ea67e",
            "title": "Slide 1",
            "description": "Slide 1 Description",
            "image": [
              {
                "key": "8db263fd-413e-4bbb-8185-ce3d6a4af3d0",
                "mediaKey": "187abf89-77a2-40ee-9ef1-7a9a8fed98c9"
              }
            ]
          },
          {
            "contentTypeKey": "a74d716f-c8af-4e96-a093-3417e759a100",
            "udi": "umb://element/99bc2f26f5854af080b20fd1b4b7bc2f",
            "title": "Slide 2",
            "description": "Slide 2 Description ",
            "image": [
              {
                "key": "07012cf5-a9fe-415f-b032-83b822384c63",
                "mediaKey": "f3045eb9-1f92-4768-a51a-737dd01b2450"
              }
            ]
          },
          {
            "contentTypeKey": "a74d716f-c8af-4e96-a093-3417e759a100",
            "udi": "umb://element/7a17cf1f468445fd9bf7939b86bf29dc",
            "title": "Slide 3",
            "description": "Slide 3 Description",
            "image": [
              {
                "key": "a2dc6756-b268-4fd8-864d-4d56b9b0d0af",
                "mediaKey": "e8201b08-7185-489b-9c26-c54d345f4941"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "6975405b-ec07-484e-9ae4-38753f9808d2",
            "udi": "umb://element/6dac2061a4bf45d9aa23860bfe775d44",
            "hide": "0"
          },
          {
            "contentTypeKey": "6975405b-ec07-484e-9ae4-38753f9808d2",
            "udi": "umb://element/f032d050af154902982a79afe9795652",
            "hide": "0"
          },
          {
            "contentTypeKey": "6975405b-ec07-484e-9ae4-38753f9808d2",
            "udi": "umb://element/98ea6932feaa4031bfcae180b36be950",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "udi": "umb://element/3de9f77aeb9b49c1a7d62ad1b405cefd",
      "hide": "0"
    },
    {
      "contentTypeKey": "b46788fc-67d8-488c-860c-7e6b9507a64e",
      "udi": "umb://element/4901b4b6d94c47a4a86ee726c61d00d6",
      "hide": "0"
    },
    {
      "contentTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "udi": "umb://element/cf130849b63242a29e0bca9f02849d07"
    },
    {
      "contentTypeKey": "8f1ced4d-b923-428f-baca-5990b0b0d42f",
      "udi": "umb://element/2c25525a6cf94dc6a1a1b3dad6a2c373",
      "hide": "0"
    },
    {
      "contentTypeKey": "32d960aa-31df-43d3-b9c3-90891c51be7e",
      "udi": "umb://element/27a646bdca7c4e24aa36b1eed05107a5",
      "hide": "0"
    },
    {
      "contentTypeKey": "02856b80-f4f3-4ccf-bd68-7ee2470a2f92",
      "udi": "umb://element/1ba7d9e3538a4899af8c19e334a523a1",
      "hide": "0",
      "textAlignment": [
        "right"
      ]
    },
    {
      "contentTypeKey": "95c22f02-ed6c-4de1-9b75-ec12309b5700",
      "udi": "umb://element/969017e1bba94049b6eb7f3f7761989f",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationArrows": "1",
      "showDarkMode": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[This will tell you all  you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>