<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b715c6a-c928-47cc-8613-5983bffd51ab" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ebbde481-070f-43e4-8d7f-58710b91bfea">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-10-10T12:06:13</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8b00ba49-9649-41ae-b36d-b01ee689d95e">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "a8fef30d-a86e-4701-b24e-314f4189bb5a",
    "mediaKey": "b3f9b0d7-15f0-4979-9bd1-c7b19bc82ec5"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8da35443a9064431929484b7572bc6c5",
        "settingsUdi": "umb://element/218dd7610b01402c92a3b8799087ba0d"
      },
      {
        "contentUdi": "umb://element/6caebf9961c8411b8d9a165677b91e26",
        "settingsUdi": "umb://element/1eba8240ae8848878d9c8abe858e48f3"
      },
      {
        "contentUdi": "umb://element/6dc124fe8d714df2934af5e6a094f4d7",
        "settingsUdi": "umb://element/6815d86131b644c8a5173dbe40cce284"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "udi": "umb://element/8da35443a9064431929484b7572bc6c5",
      "content": "<p><strong>This is text for very cool Mercedes</strong></p>"
    },
    {
      "contentTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "udi": "umb://element/6caebf9961c8411b8d9a165677b91e26",
      "content": "<p>This is text for very cool BMW</p>"
    },
    {
      "contentTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "udi": "umb://element/6dc124fe8d714df2934af5e6a094f4d7",
      "content": "<p>This is text for very <strong>not</strong> cool Audi</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "udi": "umb://element/218dd7610b01402c92a3b8799087ba0d"
    },
    {
      "contentTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "udi": "umb://element/1eba8240ae8848878d9c8abe858e48f3"
    },
    {
      "contentTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "udi": "umb://element/6815d86131b644c8a5173dbe40cce284"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>