<?xml version="1.0" encoding="utf-8"?>
<Content Key="0edb3a5c-fbad-4871-bb5a-ad60eac3c18a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ebbde481-070f-43e4-8d7f-58710b91bfea">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-10-10T12:06:40</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3aef00c6-f760-4336-93a4-82317473c371">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "0bcd0897-9a59-4b9d-8013-01911f36c609",
    "mediaKey": "c34f1b5c-a405-4aa4-8062-95cca08c9341"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>