<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebbde481-070f-43e4-8d7f-58710b91bfea" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-07T15:29:50</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="11cea704-dec0-486f-967a-966840fc03ad">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "39b5ffeb-9ee9-4a62-ae04-9384d1f725e4",
    "mediaKey": "abc8556b-a66c-4bd9-b21b-ab78a8ab39cc"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "61bd86c9-0f7a-465b-bb02-b45f762c7960",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/ebbde481070f43e48d7f58710b91bfea"
      }
    ],
    "childLinks": null
  },
  {
    "key": "61af9d78-e87f-490a-af67-5ce11359c12e",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/332605b122794756b4f8341f85230740"
      }
    ],
    "childLinks": null
  },
  {
    "key": "7d57bb9e-63c7-425b-bb82-305ed8905123",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/1b715c6ac92847cc86135983bffd51ab",
        "queryString": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Latest cool cars",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "6e61a374-f4fe-4142-895d-2514364027d9",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/0edb3a5cfbad4871bb5aad60eac3c18a"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog site for nice cars!]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Ivan's Site]]></Value>
    </title>
  </Properties>
</Content>