<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="71c27d88-c546-4a78-837e-924abaa11edf" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Ivan Stefanov</Translation>
  </Translations>
</Dictionary>