<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c82d345b-14d7-4ffe-8c37-6e1a3d80ec26" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e05aece2-d465-4629-a076-ee9590568b89",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }}",
      "settingsElementTypeKey": "052c8751-e790-4580-ab03-a03031e3bc3f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "56419d8e-b0fc-4794-893d-0570786295a5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image ' + $index }}",
      "settingsElementTypeKey": "b46788fc-67d8-488c-860c-7e6b9507a64e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1ab275a0-1084-490e-97da-352ca2947ebd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Feature Item ' + $index }}",
      "settingsElementTypeKey": "8f1ced4d-b923-428f-baca-5990b0b0d42f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2da2f9bf-e655-46aa-8073-436e1d4d0c8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Accordion ' + $index }}",
      "settingsElementTypeKey": "32d960aa-31df-43d3-b9c3-90891c51be7e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "79fd2e11-159b-4ff0-be04-2b2e4f16a81d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Quote ' + $index }}",
      "settingsElementTypeKey": "02856b80-f4f3-4ccf-bd68-7ee2470a2f92",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f07ccec3-c813-4085-beeb-170d6f45f2c4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel ' + $index }}",
      "settingsElementTypeKey": "95c22f02-ed6c-4de1-9b75-ec12309b5700",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>