<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ed11da4-28f2-4832-ba98-d74d73830b9b" Alias="[BlockList] Accordian List" Level="1">
  <Info>
    <Name>[BlockList] Accordian List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ee8babec-85b8-4920-b41c-bbaf1930d7d3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Accordion Item ' + $index }}",
      "settingsElementTypeKey": "0c1d9f28-1ad5-4ee5-87d8-73a6b363c3f8",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>