<?xml version="1.0" encoding="utf-8"?>
<DataType Key="483b228c-b625-4fc6-b68a-4d53b82ff84d" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a74d716f-c8af-4e96-a093-3417e759a100",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel Item ' + $index }}",
      "settingsElementTypeKey": "6975405b-ec07-484e-9ae4-38753f9808d2",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>