<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c38b145-5d99-47a9-9679-04068a3e31c5" Alias="[MultiURLPicker] Single Url Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>