<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba8909f0-3603-42a2-a778-34b74b3fd66a" Alias="Perplex.ContentBlocks.Configuration.Structure" Level="1">
  <Info>
    <Name>Perplex.ContentBlocks.Configuration.Structure</Name>
    <EditorAlias>Perplex.ContentBlocks.Configuration.Structure</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>