<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ce8858d-3d3c-4052-a2b7-02ee5888f1aa" Alias="Purplex Demo" Level="1">
  <Info>
    <Name>Purplex Demo</Name>
    <EditorAlias>Perplex.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowBlocksWithoutHeader": false,
  "DisablePreview": false,
  "HideLabel": true,
  "HidePropertyGroupContainer": true,
  "Structure": 3,
  "Version": 3
}]]></Config>
</DataType>